@import './variables/colors';
@import './variables/typography';

@import './fonts/fonts';

@import './mixins/font-size';
@import './typography/typography';

@import './components/components';
@import './components/alerts';
@import './components/app';
@import './components/episodes';
@import './components/player';
@import './components/playlist';
@import './components/podcasts';

html, body {
  font-size: $root-font-size;
}

body {
  margin: 0;
  background-color: $bodyBackground;
  color: $white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
